<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Games</title>
    <link rel="stylesheet" href="/css/User.css" />
  </head>

  <body>
    <%- include("./partials/Navbar.ejs") %>

    <button
      type="button"
      class="btn btn-primary btn-insert-modal position-fixed"
      data-bs-toggle="modal"
      data-bs-target="#insertModal"
      data-bs-title="Create new user"
      style="right: 2em; bottom: 2em"
    >
      <i class="fa-solid fa-plus btn-insert-modal"></i>
    </button>
    <form action="/games" method="post">
      <!-- Modal to create user -->
      <div
        class="modal fade"
        id="insertModal"
        tabindex="-1"
        aria-labelledby="insertModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-5">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="insertModalLabel">
                Insert Games
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="mb-3">
              <label for="game_id-in" class="form-label">Game ID</label>
              <input
                type="text"
                class="form-control"
                id="game_id-in"
                value=""
                name="Game_id"
                required
                placeholder="Game ID"
              />
            </div>
            <div class="mb-3">
              <label for="game_name-in" class="form-label">Gamename</label>
              <input
                type="text"
                class="form-control"
                id="game_name-in"
                value=""
                name="Game_name"
                required
                placeholder="Game name"
              />
            </div>
            <div class="mb-3">
              <label for="version-in" class="form-label">Version</label>
              <input
                type="text"
                class="form-control"
                id="version-in"
                value=""
                name="Version"
                required
                placeholder="Version"
              />
            </div>
            <div class="mb-3">
              <label for="specification-in" class="form-label">Specification</label>
              <input
                type="text"
                class="form-control"
                id="specification-in"
                value=""
                name="Specification"
                required
                placeholder="Specification (in MB)"
              />
            </div>
            <div class="mb-3">
              <label for="Rating-in" class="form-label">Rating</label>
              <input
                type="text"
                class="form-control"
                id="Rating-in"
                value=""
                name="Rating"
                required
                placeholder="Rating"
              />
            </div>
            <div class="mb-3">
              <label for="Type_of_Game-in" class="form-label">Type of Game</label>
              <input
                type="text"
                class="form-control"
                id="Type_of_Game-in"
                value=""
                name="Type_of_Game"
                required
                placeholder="Type_of_Game (single or multiplayer)"
              />
            </div>
            <div class="mb-3">
                <label for="Content_Rating-in" class="form-label">Content Rating</label>
                <input
                  type="text"
                  class="form-control"
                  id="Content_Rating-in"
                  value=""
                  name="Content_Rating"
                  required
                  placeholder="Content Rating"
                />
              </div>
              <div class="mb-3">
                <label for="Price-in" class="form-label">Price</label>
                <input
                  type="text"
                  class="form-control"
                  id="Price-in"
                  value=""
                  name="Price"
                  required
                  placeholder="Price"
                />
              </div>
              <div class="mb-3">
                <label for="dev_id-in" class="form-label">Dev ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="dev_id-in"
                  value=""
                  name="Dev_id"
                  required
                  placeholder="Dev ID"
                />
              </div>
            <button type="submit" class="btn btn-success insert-submit-btn">
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>

    <!-- Modal to edit user -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-5">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editModalLabel">Edit Game</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="mb-3">
            <label for="Game_id" class="form-label">User ID</label>
            <input
              type="text"
              class="form-control"
              id="Game_id"
              disabled
              value=""
              name="Game_id"
            />
          </div>
          <div class="mb-3">
            <label for="Game_name" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="Game_name"
              disabled
              value=""
              name="Game_name"
            />
          </div>
          <div class="mb-3">
            <label for="Version" class="form-label">Version</label>
            <input
              type="text"
              class="form-control"
              id="Version"
              value=""
              name="Version"
            />
          </div>
          <div class="mb-3">
            <label for="Specification" class="form-label">Specification</label>
            <input
              type="text"
              class="form-control"
              id="Specification"
              disabled
              value=""
              name="email"
            />
          </div>
          <div class="mb-3">
            <label for="Rating" class="form-label">Rating</label>
            <input
              type="text"
              class="form-control"
              id="Rating"
              value=""
              name="Rating"
            />
          </div>
          <div class="mb-3">
            <label for="Type_of_Game" class="form-label">Type_of_Game</label>
            <input
              type="text"
              class="form-control"
              id="Type_of_Game"
              disabled
              value=""
              name="Type_of_Game"
            />
          </div>
          <div class="mb-3">
            <label for="Content_Rating" class="form-label">Content Rating</label>
            <input
              type="text"
              class="form-control"
              id="Content_Rating"
              disabled
              value=""
              name="Content_Rating"
            />
          </div>
          <div class="mb-3">
            <label for="Price" class="form-label">Price</label>
            <input
              type="text"
              class="form-control"
              id="Price"
              value=""
              name="Price"
            />
          </div>
          <div class="mb-3">
            <label for="Dev_id" class="form-label">Dev ID</label>
            <input
              type="text"
              class="form-control"
              id="Dev_id"
              disabled
              value=""
              name="Dev_id"
            />
          </div>
          <button type="submit" class="btn btn-primary submit-btn">
            Submit
          </button>
        </div>
      </div>
    </div>

    <div class="container-fluid w-75 my-5">
      <table class="table">
        <thead class="bg-dark">
          <tr>
            <th scope="col">Game ID</th>
            <th scope="col">Game name</th>
            <th scope="col">Version</th>
            <th scope="col">Specification</th>
            <th scope="col">Rating</th>
            <th scope="col">Type of Game</th>
            <th scope="col">Content Rating</th>
            <th scope="col">Price</th>
            <th scope="col">Dev ID</th>
            <th scope="col">Edit User</th>
            <th scope="col">Delete User</th>
          </tr>
        </thead>
      </table>
    </div>
  </body>

  <script>
            var data = <%- JSON.stringify(data) %>;
            console.log(data.rows)
            var table=``;
            data.rows.forEach(row => {
                table +=
                `<tr>
          <td scope="col">${row.Game_id}</td>
          <td scope="col">${row.Game_name}</td>
          <td scope="col">${row.Version}</td>
          <td scope="col">${row.Specification}</td>
          <td scope="col">${row.Rating}</td>
          <td scope="col">${row.Type_of_Game}</td>
          <td scope="col">${row.Content_Rating}</td>
          <td scope="col">${row.Price}</td>
          <td scope="col">${row.Dev_id}</td>
          <td scope="col"><button type="button" data-game=${row.Game_id} class="btn btn-primary btn-modal" data-bs-toggle="modal" data-bs-target="#editModal">
              <i data-game=${row.Game_id} class="fa-solid fa-pen-to-square btn-modal"></i>
          </button>
          </td>
          <td scope="col">
             <i role="button" data-game=${row.Game_id} class="fa-solid fa-trash text-danger btn-delete p-2" ></i>
          </td>
        </tr>`
            });


          document.querySelector('.table').innerHTML += table;
           var response = {};
            document.querySelectorAll('.btn-modal').forEach((row)=>row.addEventListener('click', (e)=>{
              let obj = undefined;
              data.rows.forEach((row)=> {
                if(row.Game_id == e.target.dataset.game)
                {
                  obj = row;
                  return;
                }
              })
              response = obj;
              document.querySelector('#Game_id').value =obj.Game_id
              document.querySelector("#Game_name").value = obj.Game_name
              document.querySelector("#Version").value = obj.Version;
              document.querySelector("#Specification").value = obj.Specification;
              document.querySelector("#Rating").value = obj.Rating;
              document.querySelector("#Type_of_Game").value = obj.Type_of_Game;
              document.querySelector("#Content_Rating").value = obj.Content_Rating;
              document.querySelector("#Price").value = obj.Price;
              document.querySelector("#Dev_id").value = obj.Dev_id;
            }))

    document.querySelector('.submit-btn').addEventListener('click', ()=> {
      response.Version = document.querySelector('#Version').value;
      response.Rating = document.querySelector('#Rating').value;
      response.Price = document.querySelector('#Price').value;
      if(response.Version!=='' && response.Rating!=='' && response.Price!=='')
      {
        fetch(`http://localhost:3000/games/${response.Game_id}`, {
         method: 'PUT',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify(response)
        })
          if(!(alert(`Game with id ${response.Game_id} updated successfully`)))
          {
            location.reload()
          }
        }
        else {
          alert('Version,Rating and Price must be non empty')
        }
    })


    document.querySelectorAll('.btn-delete').forEach((row)=>{
      row.addEventListener('click', (e)=>{
         const id = e.target.dataset.game;
          if(confirm(`Are you sure you want to delete this game ${id}?`))
          {
              fetch(`http://localhost:3000/games/${id}`, {
                method :"delete",
                headers:{
                  'Content-type' :"application/json"
                }
              }).then((response)=>{
                console.log(response);
                if(confirm(`Game ${id} deleted successfully`))
                {
                  location.reload();
                }
              })
          }
      })
    })
  </script>
</html>
